body {
    background-color: rgb(143, 143, 143);
}

.numero {
    font-size: larger;
    font-family: sans-serif;
    padding: 15px;
    margin: 10px auto;
    display: block;
    background-color: aliceblue;
}

.button {
    background-color: greenyellow;
    padding: 15px 25px;
    margin: 0 15px;
    font-size: large;
    background-color: rgb(210, 210, 210);
    font-family: sans-serif;
    width: 25%;
}



.buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#cont1{
    font-size: larger;
    font-family: sans-serif;
    padding: 15px;
    margin: 10px auto;
    display: block;
    background-color: aliceblue;
    margin: 0 auto;
    max-width: 150px;
    border: solid black 2px;
    border-radius: 20px;
}